.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/tree-sitter/**/*
!node_modules/tree-sitter-python/**/*
!node_modules/node-gyp-build/**/*
src/**
.gitignore
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
